.sideBar {
  flex: 3;
  margin: 20px;
  padding-bottom: 20px;
  background-color: rgb(251, 247, 242);
  border-radius: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sideBarItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideBarTitle {
  margin: 10px;
  padding: 5px;
  width: 80%;
  border-top: 1px solid rgb(251, 225, 163);
  border-bottom: 1px solid rgb(251, 225, 163);
  font-family: "Varela Round", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: black;
  line-height: 20px;
  text-align: center;
}

.sideBarItem > Img {
  margin-top: 15px;
}

.sideBarItem > p {
  padding: 30px;
}

.sideBarList {
  list-style: none;
  margin-bottom: 30px;
}

.sideBarListItems {
  display: inline-block;
  width: 50%;
  margin-top: 15px;
  cursor: pointer;
}

.sideBarSocial {
  margin-top: 15px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sideBarIcon {
  font-size: 15px;
  margin-left: 10px;
  cursor: pointer;
}

.sideBarImg {
  width: 50%;
}
