.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
}
.singlePostImg {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}
.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 40px;
}

.singlePostEdit {
  float: right;
  font-size: 15px;
}

.singlePostIcon {
  cursor: pointer;
  margin-left: 10px;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: red;
}

.singlePostInfo {
  display: flex;
  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 15px;
  color: brown;
  font-family: "Varela Round", sans-serif;
}

.singlePostDesc {
  color: rgb(87, 87, 87);
  font-size: 18px;
  line-height: 25px;
}

.singlePostDesc::first-letter {
  font-size: 30px;
  font-weight: 700;
  margin-left: 20px;
}
