.write {
  padding-top: 50px;
}
.writeImg {
  margin-left: 150px;
  width: 70vw;
  height: 250px;
  border-radius: 10px;
  object-fit: cover;
}
.writeForm {
  position: relative;
}

.writeFormGroup {
  margin-left: 150px;
  display: flex;
  align-items: center;
}

.writeIcon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 22px;
  color: grey;
  cursor: pointer;
}

.writeInput {
  font-size: 30px;
  border: none;
  padding: 20px;
  width: 70vw;
}

.writeInput:focus {
  outline: none;
}

.writeText {
  font-size: 20px;
}

.writeSubmit {
  position: absolute;
  top: 20px;
  right: 50px;
  color: white;
  background-color: rgb(4, 130, 88);
  border-radius: 40px;
  padding: 10px;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
